
<div class="content-cnt page-layout blank">

    <div   class="header  p-24 h-80" fxLayout="row" fxLayoutAlign="start center"  >
        <div fxFlex="50"  >
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">ការលក់</span>
            </div>
        </div>

        <div fxFlex="50" class="text-right"  >
            <button  mat-stroked-button color="accent" [routerLink]=" ['/pos'] "  >
                <mat-icon class="material-icons">add</mat-icon><span >ការលក់ថ្មី</span> 
            </button>
        </div>
    </div>

    <div class="content"  >
        <div  class="tab-content p-24">

            <section class="filter" >
                <div fxLayout="row " fxLayoutAlign="start center"  >

                    <div fxFlex="20" class="mr-8 pt-16" >
                        <mat-form-field style="width:100%" >
                            <mat-label > លេខវិក្ក័យប័ត្រ </mat-label>
                            <input matInput [(ngModel)]=" key " maxlength="100">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" class="mr-8 pt-12" >
                        <mat-form-field style="width:100%" >
                            <mat-label>ស្ថានភាព</mat-label>
                            <mat-select [(ngModel)] = " status "  >
                                <mat-option [value] = " 0 " > ទាំងអស់</mat-option>
                                <mat-option [value] = " 1 " > ជំពាក់</mat-option>
                                <mat-option [value] = " 2 " > ទូទាត់រួច</mat-option>
                            </mat-select>
                        </mat-form-field>
                           
                    </div>

                    <!-- =======================from-date================================================= -->
                    <mat-form-field fxFlex="15" class="mr-8 pt-16">
                        <mat-label> ចាប់ពី </mat-label>
                        <input (click)="from_picker.open()" matInput [(ngModel)]="from" [matDatepicker]="from_picker" style = " cursor:pointer " [readonly] = " true ">
                        <mat-datepicker-toggle matSuffix [for]="from_picker"></mat-datepicker-toggle>
                        <mat-datepicker #from_picker></mat-datepicker>
                    </mat-form-field>

                    <!-- =========================To date============================== -->
                    <mat-form-field fxFlex="15" class="mr-8 pt-16" >
                        <mat-label> ដល់ </mat-label>
                        <input (click)="to_picker.open()" [(ngModel)]="to" matInput [matDatepicker]="to_picker" style = " cursor:pointer " [readonly] = " true " [min]="from">
                        <mat-datepicker-toggle matSuffix [for]="to_picker"></mat-datepicker-toggle>
                        <mat-datepicker #to_picker></mat-datepicker>
                    </mat-form-field>
                   
                    <div fxFlex  >
                        <button [disabled] = " isSearching " mat-icon-button (click)=" listing()" > <mat-icon  class="mat-icon  s-40 btn-icon-searching-search" >search</mat-icon></button> &nbsp;             
                        <button  mat-icon-button (click)=" printingSale()" > <mat-icon  class="mat-icon  s-40 btn-icon-searching-search" >print</mat-icon></button> &nbsp;             
                    </div>                    
                </div>
            </section>

            <section class="listing" >

                <div *ngIf = " isSearching " >
                    <mat-spinner style="margin:auto" diameter = " 40 " ></mat-spinner>
                </div>
                
                <ng-container *ngIf = " !isSearching && data?.length > 0 "  >
                    <table class="proposal-value-table" >
            
                        <thead>
                            <tr>
                                <th >លេខវិក្ក័យប័ត្រ</th>
                                <th class="text-right">ចំនួនទឹកប្រាក់ (រៀល)</th>
                                <th class="text-right">អ្នកគិតប្រាក់</th>
                                <th class="text-center">&nbsp; &nbsp; កាលបរិច្ឆេទ</th>
                                <th class="text-right"></th>
                            
                            </tr>
                        </thead>

                        <tbody>
            
                            <tr *ngFor="let row of data; let i = index; " [attr.data-index]="i">

                                <td ><b style="color:blue" >{{ row?.receipt_number }}</b></td>
                                <td class="text-right" >{{ row?.total_price | number }} </td>
                                <td class="text-right">{{ row?.cashier?.name }}</td>
                                <td class="text-center">
                                    <div class="pl-16" >
                                        {{ row?.updated_at }}
                                    </div>
                                </td>
                                <td class="text-right">
                                    <button  mat-icon-button color="accent"  (click) = "viewReceipt(row)" matTooltip="មើល">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>

                                    <button  mat-icon-button color="accent"  (click) = "printingInvoice(row,i)" matTooltip="បោះពុម្ព">
                                        <mat-spinner *ngIf = " row?.is_printing " style="margin:auto" diameter = " 30 " ></mat-spinner>
                                        <mat-icon *ngIf="!row?.is_printing">print</mat-icon>
                                    </button>

                                    <button [disabled] = " row?.paid_at " mat-icon-button color="warn" (click)="onDelete(row)"   matTooltip="លុប">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            
                            </tr>

                        </tbody>
            
                    </table>

                    <div fxLayoutAlign="end end">
                        <app-paginator [length]="total" [page]="page" [limit]="limit"  (pageChanged)="onPageChanged($event)"></app-paginator>
                    </div>
                </ng-container>

                

                <ng-container *ngIf=" data?.length == 0 && !isSearching ">
                    <div fxLayout="column" fxLayoutAlign="center center" fxflex>
                        <mat-icon role="img" class="mat-icon notranslate s-100 mb-16 select-message-icon hint-text material-icons mat-icon-no-color" aria-hidden="true"> toc </mat-icon>
                        <span class="select-message-text hint-text"><span>គ្មានទិន្នន័យ</span></span>
                    </div>
                </ng-container>





            </section>
            
        </div>
    </div>
    
</div>

