<div class="content-cnt page-layout blank">
    <div class="header p-24 h-80" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="50">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">អ្នកប្រើប្រាស់</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">បង្កើតថ្មី</span>
                </div>
            </div>
        </div>
    </div>

    <div class="content" >
        <div  class="tab-content p-24" >
            <category-form [data] = " null " [action] = " 'CREATE' " ></category-form>
        </div>

    </div>

</div>