#===========================>> Application
APP_NAME=${APP_NAME:file}
APP_ENV=${APP_ENV:local} 
APP_KEY=${APP_KEY:null} 
APP_DEBUG=true 
APP_LOG_LEVEL=debug 
APP_TIMEZONE=Asia/Phnom_Penh 

#===========================>> Database
DB_CONNECTION=mysql
DB_HOST=${DB_HOST:null}
DB_PORT=${DB_PORT:null}
DB_DATABASE=${DB_DATABASE:null}
DB_USERNAME=${DB_USERNAME:null}
DB_PASSWORD=${DB_PASSWORD:null}
