.button-hover-blue {
    margin: 0;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border: none;
    background-color: #dee1e4;
    color: #3838d0;

    &:hover{
        background-color: #2a3781;
        color: white;
        cursor: pointer;
    }

}

.menu-hover{
    color: #3838d0;
    &:hover{
        background-color: #dee1e4!important;
    }
}