<div class="content-cnt page-layout blank">

   <div class="header p-24 h-80" fxFill fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="50">
         <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text" >GCF Coin</span>
         </div>
      </div>
      <div fxFlex="30">
         <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
               <mat-icon class="cursor-pointer" (click)="listing()">search</mat-icon>
               <input [(ngModel)]="key" type="text" (keyup.enter)="listing()" placeholder="ស្វែងរកព័ត៌មានសមាជិក" fxFlex>
            </div>
           
         </div>
      </div>
   </div>
 
    <div class="content">
        <!-- //[fxFlex.xs]="update-padding-tab" -->
        <div class="tab-content p-24">
          <!-- ================= Filter ================ -->
          <section class="listing">
             <div *ngIf=" isSearching ">
                <mat-spinner style="margin:auto" diameter=" 50 "></mat-spinner>
             </div>
 
             <ng-container *ngIf=" data?.length > 0 && !isSearching">
                <app-table [tableColumnInfo]="columnTableInfo" [dataSource]="data"></app-table>
             </ng-container>
 
             <ng-container *ngIf=" data?.length == 0 && !isSearching ">
                <div fxLayout="column" fxLayoutAlign=" center" fxflex>
                   <mat-icon role="img" class="mat-icon notranslate s-100 mb-16 select-message-icon hint-text material-icons mat-icon-no-color" aria-hidden="true">toc</mat-icon>
                   <span class="select-message-text hint-text"><span>No Data</span></span>
                </div>
             </ng-container>
 
          </section>
          <!-- when load data -->
          
          <!-- when load data -->
          <div fxLayout="row" fxLayoutAlign="center" *ngIf=" isSearching ">
                <!-- <mat-spinner diameter=" 20"></mat-spinner> -->
                <span *ngIf="!isLoadMore" class="p-100 load-text-color">កំពុងទាញទិន្នន័យ...</span>
                <span *ngIf="isLoadMore" class="pb-8 load-text-color">កំពុងទាញទិន្នន័យបន្ថែម...</span>
          </div>
 
          <!-- after load data but no record -->
          <div fxLayout="row" fxLayoutAlign="center" fxflex *ngIf=" isSearching && !data  ">
             <mat-icon role="img"
                class="mat-icon notranslate s-100 mb-16 select-message-icon hint-text material-icons mat-icon-no-color"
                aria-hidden="true"> toc </mat-icon>
             <span class="select-message-text hint-text"><span >No Data</span></span>
          </div>
          <div fxLayoutAlign="end end">
            <tr *ngIf=" data?.length > 0 && !isSearching" style="align-content: flex-end">
              <app-paginator [length]="total" [page]="page" [limit]="limit" (pageChanged)="onPageChanged($event)"></app-paginator>
            </tr>
          </div>
       </div>
    </div>
    
 </div>
 

 
      <!-- ====================================================================================>> Table Column -->
      <ng-template #colTrx let-element let-item let-index>
         <div class="hover-pionter receipt-color ">
           <b style="color: rgb(9, 0, 128);">{{ element?.trx }}</b> 
           <br />
         </div>
       </ng-template>
 
       <ng-template #colAmount let-element let-item let-index>
          <div class="hover-pionter receipt-color">
             <span *ngIf = "element?.type_id ==1">
                <b style="color: green">{{ element?.amount | number }}</b>
             </span>
             <span *ngIf = "element?.type_id ==2">
                <b style="color: red">{{ - element?.amount | number }}</b>
             </span>
          </div>
        </ng-template>
 
       <ng-template #colBalance let-element let-item let-index>
          <div class="hover-pionter receipt-color">
           <b>{{ element?.balance | number }}</b>
          </div>
        </ng-template>
 
        <ng-template #colType let-element let-item let-index>
          <div class="hover-pionter receipt-color">
             <b>{{ element?.category?.name}}</b>   
          </div>
        </ng-template>
 
       <ng-template #colDate let-element let-item let-index>
         <div class="hover-pionter receipt-color">
          {{ element?.created_at}}
         </div>
       </ng-template>
