<h2 mat-dialog-title>លេខវិក្ក័យប័ត្រ <b style="color:blue" >#{{ data?.receipt_number }}</b></h2>
<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography" style="width: 700px;">
    <div fxLayout="row" class="pt-16 pb-16">
        <div fxFlex="50" >
            បង្កើតនៅ : {{ data?.created_at }} <br />
            ស្ថានភាព : <span>{{ data?.paid_at ? data?.paid_at : 'មិនទាន់បានបង់ទេ' }} </span>
        </div>
        <div fxFlex="50" >
            អ្នកគិតលុយ : {{ data?.cashier?.name }}
        </div>
    </div>
   
    <mat-divider></mat-divider>

    <div fxLayout="row" class="pt-16 pb-16" >
        <table class="proposal-value-table" >
            
            <thead>
                <tr>
                    <th >ឈ.រ</th>
                    <th class="">ផលិតផល</th>
                    <th class="text-right">តម្លៃ (រៀល)</th>
                    <th class="text-right">ចំនួន</th>
                    <th class="text-right">សរុប</th>
                </tr>
            </thead>

            <tbody>


                <tr *ngFor="let row of data?.details; let i = index; " [attr.data-index]="i">

                    <td >{{ i +1 }}</td>
                    <td >{{ row?.product?.name }} </td>
                    <td class="text-right">{{ row?.unit_price | number }}</td>
                    <td class="text-right">{{ row?.qty | number }}</td>
                    <td class="text-right">{{ row?.unit_price * row?.qty | number }}</td>
                </tr>

                <tr>
                    <td colspan=4 class="text-right">តម្លៃ​សរុប (រៀល):</td>
                    <td class="text-right"><b style="color:green" >{{ data?.total_price | number }}</b></td>
                </tr>

                <!-- <tr>
                    <td  colspan=4  class="text-right">Discount (%):</td>
                    <td class="text-right"><b>{{ data?.discount | number }}</b></td>
                </tr> -->

                <!-- <tr>
                    <td  colspan=4 class="text-right">Amount To Pay (KHR):</td>
                    <td class="text-right"><b style="color:green" >{{ data?.total_price | number }}</b></td>
                </tr> -->

            </tbody>

        </table>
    </div>
    
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
    
    <button mat-raised-button color="accent" [disabled] = " isSaving " (click) = "invoicePayment(data)" cdkFocusInitial>
        <mat-spinner *ngIf = " isSaving " style="margin:auto" diameter = " 30 " ></mat-spinner>
        <span *ngIf = " !isSaving " >បោះពុម្ព</span>
    </button>

    <button mat-button  [mat-dialog-close]=" true "  cdkFocusInitial>បិទ</button>

</mat-dialog-actions>