@media (min-width: 1200px) {

    .content-cnt-bt{
        margin-right: 330px;

    }
}
.search {
    // height: 36px;
    height: 39px;
    line-height: 36px;
    // padding: 8px;
    padding-right: 8px;
    padding-left: 1px;
    font-size: 13px;
    // border-radius: 18px;
    border-radius: 20px;
    border: 1px solid #b4d6f7;
    overflow: hidden;
    .mat-icon {
        margin: 0;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 23px;
        background-color: #eaeef1;
        color: #112282;

        &:hover{
            background-color: #2a3781;
            color: white;
        }
    }

    input {
        padding: 0 12px 0 8px;
        height: 36px;
        border: none;
       font-family: 'Siemreap', 'Roboto';
    }
}